http proxy

Is it possible to use this image as an http proxy. When the following statement 
http_port 3128 ssl-bump \
    generate-host-certificates=on \
    dynamic_cert_mem_cache_size=4MB \
    cert=/etc/config/myca.pem \
    key=/etc/config/myca.pem
is added to the config file, then the following error occurs
 2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
(security_file_certgen): Uninitialized SSL certificate database directory: /var/cache/squid/ssl_db. To initialize, run "security_file_certgen -c -s /var/cache/squid/ssl_db".
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
(security_file_certgen): Uninitialized SSL certificate database directory: /var/cache/squid/ssl_db. To initialize, run "security_file_certgen -c -s /var/cache/squid/ssl_db".
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted

Do you know what could be wrong?

Here is my config file
#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 0.0.0.1-0.255.255.255	# RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8		# RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10		# RFC 6598 shared address space (CGN)
acl localhet src 169.254.0.0/16 	# RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12		# RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16		# RFC 1918 local private network (LAN)
acl localnet src fc00::/7       	# RFC 4193 local private network range
acl localnet src fe80::/10      	# RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

forwarded_for delete
dns_nameservers 192.168.13.1

# Default all logs to stdout and stderr
logfile_rotate 0
# access_log stdio:/dev/stdout combined
# cache_store_log stdio:/dev/stdout
# cache_log /dev/stderr
# netdb_filename stdio:/var/cache/squid/netdb.state

# Cache directory is fixed since we'll bind mount.
# cache_dir aufs /var/cache/squid 40000 16 256
maximum_object_size 1536 MB
cache_mem 128 MB

http_port 3128 ssl-bump \
    generate-host-certificates=on \
    dynamic_cert_mem_cache_size=4MB \
    cert=/etc/config/myca.pem \
    key=/etc/config/myca.pem

ssl_bump splice all
http_access allow all

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256

# Leave coredumps in the first cache dir
# coredump_dir /var/spool/squid


#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320

# Visible hostname to allow multi-squid
visible_hostname squid-ip-tmp
cache_mgr squid-ip-tmp

tcp_outgoing_mark 0x25 all
always_direct allow all



Sorry about the comment above. Looks like any line that began with an "#" was converted to bold.
I am new at using dockers. So is there an image I can download that has the "USER" statement removed from the docker file? I don't know how to change the dockerfile and make a new image locally.

Going off your suggestion, i connected to the docker and it runs as user squid, which has no permissions to even create a directory. 
I have tried building from the dockerfile but was unable to because for some reason, "apk add" does not work for me. Still debugging it. 
Is it possible for you to create an image without "USER squid". Or in the image create a directory and give the user "squid" permissions to write to it.



Made an image without the "USER" command, try ```b4tman/squid:debug-v4```

In original image, user ```squid``` is owner for the following directories:

- ```/var/cache/squid```
- ```/var/log/squid```
- ```/var/run/squid```
- ```/etc/squid/conf.d```


got this error:
~~~
my-squid | 2019/02/05 11:41:47 kid1| FATAL: The /usr/lib/squid/security_file_certgen -s /var/cache/squid/ssl_db -M 4MB helpers are crashing too rapidly, need help!
~~~

because:
~~~
> docker run --rm -ti b4tman/squid /usr/lib/squid/security_file_certgen -s /var/cache/squid/ssl_db -M 4MB
/usr/lib/squid/security_file_certgen: Uninitialized SSL certificate database directory: /var/cache/squid/ssl_db. To initialize, run "security_file_certgen -c -s /var/cache/squid/ssl_db".
~~~
To fix this problem you could add in docker-compose.yml this line:
~~~yml
command: ["sh", "-c", "(test -d /var/cache/squid/ssl_db || /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB) && /usr/sbin/squid --foreground -z && exec /usr/sbin/squid --foreground -YCd 1"]
~~~

Or may be use this Dockerfile:
~~~Dockerfile
FROM b4tman/squid

USER root
CMD ["sh", "-c", "(test -d /var/cache/squid/ssl_db || /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB) && /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -z && exec /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -YCd 1"]

~~~

With both images I fail with the same error now. Here is the error

2019/02/06 18:34:49 kid1| Current Directory is /
2019/02/06 18:34:49 kid1| Starting Squid Cache version 4.4 for x86_64-pc-none...
2019/02/06 18:34:49 kid1| Service Name: squid
2019/02/06 18:34:49 kid1| Process ID 44
2019/02/06 18:34:49 kid1| Process Roles: worker
2019/02/06 18:34:49 kid1| With 1048576 file descriptors available
2019/02/06 18:34:49 kid1| Initializing IP Cache...
2019/02/06 18:34:49 kid1| DNS Socket created at [::], FD 5
2019/02/06 18:34:49 kid1| DNS Socket created at 0.0.0.0, FD 9
2019/02/06 18:34:49 kid1| Adding nameserver 192.168.13.1 from squid.conf
2019/02/06 18:34:49 kid1| helperOpenServers: Starting 5/32 'security_file_certgen' processes
2019/02/06 18:34:49 kid1| Logfile: opening log daemon:/var/log/squid/access.log
2019/02/06 18:34:49 kid1| Logfile Daemon: opening log /var/log/squid/access.log
2019/02/06 18:34:49 kid1| Local cache digest enabled; rebuild/rewrite every 3600/3600 sec
2019/02/06 18:34:49 kid1| Store logging disabled
2019/02/06 18:34:49 kid1| Swap maxSize 0 + 131072 KB, estimated 10082 objects
2019/02/06 18:34:49 kid1| Target number of buckets: 504
2019/02/06 18:34:49 kid1| Using 8192 Store buckets
2019/02/06 18:34:49 kid1| Max Mem  size: 131072 KB
2019/02/06 18:34:49 kid1| Max Swap size: 0 KB
2019/02/06 18:34:49 kid1| Using Least Load store dir selection
2019/02/06 18:34:49 kid1| Current Directory is /
2019/02/06 18:34:49 kid1| Finished loading MIME types and icons.
2019/02/06 18:34:49 kid1| HTCP Disabled.
2019/02/06 18:34:49 kid1| Squid plugin modules loaded: 0
2019/02/06 18:34:49 kid1| Adaptation support is off.
2019/02/06 18:34:49 kid1| Accepting HTTP Socket connections at local=[::]:3127 remote=[::] FD 22 flags=9
2019/02/06 18:34:49 kid1| Accepting SSL bumped HTTP Socket connections at local=[::]:3128 remote=[::] FD 23 flags=9
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr1, 25 bytes 'Initialization SSL db...
'
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr2, 25 bytes 'Initialization SSL db...
'
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr3, 25 bytes 'Initialization SSL db...
'
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr4, 25 bytes 'Initialization SSL db...
'
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr5, 25 bytes 'Initialization SSL db...
'
2019/02/06 18:34:49 kid1| WARNING: /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr1 exited
2019/02/06 18:34:49 kid1| Too few /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB processes are running (need 1/32)
2019/02/06 18:34:49 kid1| Closing HTTP(S) port [::]:3127
2019/02/06 18:34:49 kid1| Closing HTTP(S) port [::]:3128
2019/02/06 18:34:49 kid1| storeDirWriteCleanLogs: Starting...
2019/02/06 18:34:49 kid1|   Finished.  Wrote 0 entries.
2019/02/06 18:34:49 kid1|   Took 0.00 seconds (  0.00 entries/sec).
2019/02/06 18:34:49 kid1| FATAL: The /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB helpers are crashing too rapidly, need help!


I am doing things differently though. To the squid.conf file i added the line
sslcrtd_program /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB


this line in the log indicates that `sslcrtd_program` (specified in the config file) generate unexpected output:
~~~
2019/02/06 18:34:49 kid1| helperHandleRead: unexpected read from /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB #Hlpr2, 25 bytes 'Initialization SSL db...
~~~

I think, `-c` switch in `security_file_certgen` command should only be used one time for database initialization. 
[http://www.squid-cache.org/Doc/code/group__ssl__crtd.html](http://www.squid-cache.org/Doc/code/group__ssl__crtd.html)


Try `b4tman/squid:ssl-bump-debug` image, and remove `sslcrtd_program` line from config


When removing the line and trying out the b4tman/squid:ssl-bump-debug image, the error i get is 
2019/02/06 23:10:58 kid1| Adaptation support is off.
2019/02/06 23:10:58 kid1| Accepting HTTP Socket connections at local=[::]:3127 remote=[::] FD 22 flags=9
2019/02/06 23:10:58 kid1| Accepting SSL bumped HTTP Socket connections at local=[::]:3128 remote=[::] FD 23 flags=9
2019/02/06 23:10:58 kid1| WARNING: /usr/lib/squid/security_file_certgen -s /var/cache/squid/ssl_db -M 4MB #Hlpr1 exited
2019/02/06 23:10:58 kid1| Too few /usr/lib/squid/security_file_certgen -s /var/cache/squid/ssl_db -M 4MB processes are running (need 1/32)
2019/02/06 23:10:58 kid1| Closing HTTP(S) port [::]:3127
2019/02/06 23:10:58 kid1| Closing HTTP(S) port [::]:3128
2019/02/06 23:10:58 kid1| storeDirWriteCleanLogs: Starting...
2019/02/06 23:10:58 kid1|   Finished.  Wrote 0 entries.
2019/02/06 23:10:58 kid1|   Took 0.00 seconds (  0.00 entries/sec).
2019/02/06 23:10:58 kid1| FATAL: The /usr/lib/squid/security_file_certgen -s /var/cache/squid/ssl_db -M 4MB helpers are crashing too rapidly, need help!

2019/02/06 23:10:58 kid1| Squid Cache (Version 4.5): Terminated abnormally.
2019/02/06 23:10:58| Removing PID file (/var/run/squid/squid.pid)



Made an image with the following Dockerfile:
~~~Dockerfile
FROM b4tman/squid

USER root
CMD ["sh", "-c", "(test -d /var/cache/squid/ssl_db || /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB) && /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -z && exec /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -YCd 1"]
~~~

Try `b4tman/squid:ssl-bump` image.

 That worked!
Will you be maintaining the "ssl-bump" tag or will the changes be merged into the main one?

I think I should add entrypoint script and environment variable for change SSL database size.
Or may be another Dockerfile for `ssl-bump` tag.

And I should solve this error message:
~~~
2019/01/29 20:49:39 kid1| WARNING: no_suid: setuid(0): (1) Operation not permitted
~~~
without using root permissions.

I will maintain `ssl-bump` tag, before changes be merged.