how to use with ssl-bump

I am trying to use the 6.6-ssl-bump image, and it fails, you can help?

My logs
```
squid  | 2024/01/21 01:28:01 kid1| Adding domain sa-east-1.compute.internal from /etc/resolv.conf
squid  | 2024/01/21 01:28:01 kid1| Adding nameserver 127.0.0.11 from /etc/resolv.conf
squid  | 2024/01/21 01:28:01 kid1| Adding ndots 1 from /etc/resolv.conf
squid  | 2024/01/21 01:28:01 kid1| Logfile: opening log stdio:/proc/self/fd/1
squid  | 2024/01/21 01:28:01 kid1| Not currently OK to rewrite swap log.
squid  | 2024/01/21 01:28:01 kid1| storeDirWriteCleanLogs: Operation aborted.
squid  | 2024/01/21 01:28:01 kid1| FATAL: Cannot open '/proc/self/fd/1' for writing.
squid  | 	The parent directory must be writeable by the
squid  | 	user 'squid', which is the cache_effective_user
squid  | 	set in squid.conf.
squid  | 2024/01/21 01:28:01 kid1| Squid Cache (Version 6.5): Terminated abnormally.
squid  | 2024/01/21 01:28:01| Removing PID file (/var/run/squid/squid.pid)

```

My docker-compose.yml
```
version: '3.9'

x-logging: &logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "1"

services:
  tor:
    image: dperson/torproxy
    container_name: tor
    restart: unless-stopped

  squid:
    ports:
      - 3199:3199 # TOR
    image: 'b4tman/squid:6.6-ssl-bump'
    volumes:
      - './config/:/etc/squid/conf.d/'
    container_name: squid
    environment:
      - SQUID_CONFIG_FILE=/etc/squid/conf.d/squid.conf
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    healthcheck:
      test: [ CMD-SHELL, 'export https_proxy=127.0.0.1:3199 && export http_proxy=127.0.0.1:3199 && wget -q -Y on  -O - https://checkip.amazonaws.com || exit 1' ]
      retries: 5
      timeout: 10s
      start_period: 60s
      interval: 300s
    ulimits:
      nofile: { soft: 65536, hard: 65536 }
    restart: always
```


squid.conf
```
acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl Allowed_IP src "/etc/squid/conf.d/allowed_ip.txt"

http_access allow Allowed_IP
http_access allow localnet
http_access allow localhost manager
http_access deny manager
http_access allow all # cambio deny por allow

acl SSL_ports port 443
acl Safe_ports port 80
acl Safe_ports port 443
acl CONNECT method CONNECT
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

cache allow all
cache_dir ufs /var/cache/squid 5000 16 256
maximum_object_size 8 MB
cache_mem 256 MB
refresh_pattern ^http://   0   20%   60
refresh_pattern ^https://  0   20%   60

# Otras configuraciones
visible_hostname unkown
forwarded_for off
request_header_access X-Forwarded-For deny all
request_header_access Cache-Control allow all # cambio deny por allow
request_header_access Via deny all

reply_header_access X-Forwarded-For deny all
reply_header_access Cache-Control allow all # cambio deny por allow
reply_header_access Via deny all
reply_header_access X-Squid-Error deny all

never_direct allow all

server_persistent_connections off
client_persistent_connections off

access_log stdio:/proc/self/fd/1 combined

# Define una ACL para el puerto 3199 ######### TOR-PROXY
http_port 3199
acl puerto_3199 localport 3199
http_access allow puerto_3199
cache_peer tor parent 8118 0 no-digest no-netdb-exchange connect-fail-limit=2 connect-timeout=8 round-robin no-query allow-miss proxy-only name=tor
cache_peer_access tor allow puerto_3199
```



When I checked I saw in my config that I am sending the logs to that "file" in my squid.conf, so I changed the path of that log to something custom, but obviously the issue is that that "file" access_log stdio:/ proc/self/fd/1, which causes the docker log to output what squid is doing.

This situation only happens to me when I use the b4tman/squid:X.X-ssl-bump version.

Returning to the question, how can I make it work, is it an image issue? or a mistake?

Thanks again and happy day

Hi @josearodrigueze !

This is because new versions of squid cannot be run as root.
In sslbump images:

~~~dockerfile
USER root
~~~

currently used to work around file permissions issues for `/usr/lib/squid/security_file_certgen`.
but perhaps this is no longer necessary

try this in your docker-compose.yml:

~~~yaml
services:
  squid:
    user: "3128:3128"
~~~

or use Dockerfile

~~~dockerfile
FROM b4tman/squid:6.6

CMD ["sh", "-c", "(test -d /var/cache/squid/ssl_db || /usr/lib/squid/security_file_certgen -c -s /var/cache/squid/ssl_db -M 4MB) && /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -z && exec /usr/sbin/squid -f ${SQUID_CONFIG_FILE} --foreground -YCd 1"]
~~~


Thanks for help.